<html>

<head>
    <script src="https://kit.fontawesome.com/8fa059ce7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="main">
        <h2 class="heading">Status of Habits </h2>
        <div class="containers-detail">
            <ul class="list">
                <%for(let i=0;i<habits.length;i++){%>
                <div class="dec">
                    <li>
                        <h3 style="color: crimson;"><%=habits[i]%></h3>
                        <span>Completed Task: <%=tasks[i].done%></span>
                        <span> Pending Task: <%=tasks[i].Notdone%></span>
                        <span>Total Task: <%=tasks[i].total%></span>
                    </li>
                </div>
                <%}%>
            </ul>
     </div>
     <a href = "/">
        <button type="submit" class="btn1"><span>Go Home</span></button>
    </a>
</div> 
    <script src="/js/home.js"></script>
</body>
</html>