<html>
  <head>
     <title>
       <%= title%>
     </title>
      
     
     
      <link rel="stylesheet" href="/css/home.css">
      <meta charset="utf-8">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
           
      <meta name="viewport" content="width-device-width, initial scale =1">
  </head>
  <body>
      <!-- <h1>Hi this is practice ejs page rendered.</h1> -->
      

      <h2 class="week-heading">Weekly Progress Status</h2>

      <table class="table" border="2">
        <thead class="thead_h">
          <tr>
            <!-- <th scope="col">Days</th> -->
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
          </tr>
        <tr>
          <!-- <th scope="col">Habit</th> -->
          <th scope="col">1 Aug</th>
          <th scope="col">2 Aug</th>
          <th scope="col">3 Aug</th>
          <th scope="col">4 Aug</th>
          <th scope="col">5 Aug</th>
          <th scope="col">6 Aug</th>
          <th scope="col">7 Aug</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="toggle">
              <select class="mySelect" onchange="clickCounter()"> 
                <option value="None" > None </option> <br>
                <option value="Done" > Done </option> <br>
                <option value="NotDone"> NotDone </option> <br>
              </select>
            </div>             
          </td>
          <td>
            <div class="toggle">
              <select class="mySelect" onchange="clickCounter()"> 
                <option value="None" > None </option> <br>
                <option value="Done" > Done </option> <br>
                <option value="NotDone"> NotDone </option> <br>
              </select>
            </div>             
          </td>
          <td>
            <div class="toggle">
              <select class="mySelect" onchange="clickCounter()"> 
                <option value="None" > None </option> <br>
                <option value="Done" > Done </option> <br>
                <option value="NotDone"> NotDone </option> <br>
              </select>
            </div>             
          </td>
          <td>
            <div class="toggle">
              <select class="mySelect" onchange="clickCounter()"> 
                <option value="None" > None </option> <br>
                <option value="Done" > Done </option> <br>
                <option value="NotDone"> NotDone </option> <br>
              </select>
            </div>             
          </td>
          <td>
            <div class="toggle">
              <select class="mySelect" onchange="clickCounter()"> 
                <option value="None" > None </option> <br>
                <option value="Done" > Done </option> <br>
                <option value="NotDone"> NotDone </option> <br>
              </select>
            </div>             
          </td>
          <td>
            <div class="toggle">
              <select class="mySelect" onchange="clickCounter()"> 
                <option value="None" > None </option> <br>
                <option value="Done" > Done </option> <br>
                <option value="NotDone"> NotDone </option> <br>
              </select>
            </div>             
          </td>
          <td>
            <div class="toggle">
              <select class="mySelect" onchange="clickCounter()"> 
                <option value="None" > None </option> <br>
                <option value="Done" > Done </option> <br>
                <option value="NotDone"> NotDone </option> <br>
              </select>
            </div>             
          </td>
        </tr>
       </table>
      </tbody>
      <div id="result"></div>
     
       <% for(let d of habit_list) {%> 
        <div class="res"></div>

        <%if(d.status ==="Done"){%>
         
          <div class="finres"><a href="/users/update/<%=d._id%>&NotDone"><button type="button" class="btn btn-outline-danger"> </i> Submit Status</button></a></div>  
         
          <%}else if(d.status === "NotDone"){%>
            <div class="finres"><a href="/users/update/<%=d._id%>&None"><button type="button" class="btn btn-outline-secondary"></i>Submit Status</button></a></div>
          <%}else if(d.status === "None"||d.status === "Pending"){%>
            <div class="finres"><a href="/users/update/<%=d._id%>&Done"><button type="button" class="btn btn-outline-success"></i>Submit Status</button></a></div>    
         
            <%}%> 
    <%}%> 
    <a href = "/">
      <button type="submit" class="btn"><span>Go Back</span></button>
    </a>

    <script type="text/javascript" src="/js/home.js"></script>
  </body>


</html>