body {
  height: 100%;
  background-image: url("/images/SIDTnd.jpg");
  font-family: sans-serif;
  color: #0f222d;
  background-size: auto;
  text-align: center;
  padding: auto;
}
#main {
  background-color: rgb(22, 15, 48);
  width: 50%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

#page-heading {
  background-color: rgb(235, 140, 16);
  padding: 10px 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  /* width: 60%; */
}

.open {
  width: 30%;
  text-align: center;
  margin-top: 15px;
}

.open .open-button {
  background-color: rgba(37, 102, 34, 0.863);
  font-size: 1rem;
  color: white;
  margin-top: -1px;
  margin-left: 40px ;
}

.button-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
}

#heading h1 {
  margin-top: -1rem;
  text-align: center;
  color: #fff;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  cursor: pointer;
  margin-top: 5px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 10rem;
  right: 30rem;
  border: 3px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 5px;
  background-color: rgb(245, 209, 209);
}

.form-container h1 {
  font-family: cursive;
  color: orangered;
  font-size: 1.5rem;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

#options{

  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;

}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[type="date"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="date"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[type="number"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="number"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #6c7ece;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a background color to the cancel button */
.form-container .cancel {
  background-color: rgb(94, 57, 57);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
/* pop up form end */
/* list for input */
ul {
  list-style-type: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  padding: 1rem;
  margin-left: -2.3rem;
  background: #f9f9f9;
  border-radius: 10%;
  margin-bottom: 1rem;
}
ul li:nth-child(even) {
  padding: 1rem;
  margin-left: -2.3rem;
  background: #eaf5ad;
  border-radius: 10%;
  margin-bottom: 1rem;
}
/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}
.habbit {
  display: flex;
  flex-direction: column;
}
.detail p {
  margin: 5px 0;
}

.detail #my_name {
  font-size: 20px;
  color: #7c380a;
}

.habbit .detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.delete-button {
  width: 1%;
  text-align: center;
  margin-top: 5px;
}

.delete-button .btn {
  background-color: teal;
  size: 1rem;
  font-size: 1rem;
}

.status-button {
  width: 5%;
  text-align: center;
  margin-top: 10px;
}

.status-button .btn {
  background-color: rgb(163, 14, 21);
  size: 4rem;
  font-size: 1rem;
}

.week-button {
  width: 5%;
  text-align: center;
  margin-top: 10px;
}

.week-button .btn {
  background-color: rgb(163, 14, 21);
  size: 4rem;
  font-size: 1rem;
}

.habbit .delete-button a {
  color: white;
}
.week-button a {
  color: white;
  text-decoration: none;
}
.status-button a {
  color: white;
  text-decoration: none;
}

.btn {
  border: none;
  color: #f6faf5;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: " \00AB";
  color: #7c380a;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-left: 25px;
}

.btn:hover span:after {
  opacity: 1;
  left: 0;
}

#result {
  font-size: 20px;
  margin: auto;
  size: auto;
}

.heading {
  color: aliceblue;
  text-align: center;
}

.containers-detail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  background-color: orangered;
  border: 2px solid rgb(226, 91, 12);
}

.btn1 {
  border-radius: 4px;
  background-color: #206b20;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn1 span:after {
  content: " \00AB";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 20px;
  transition: 0.5s;
}

.btn1:hover span {
  padding-left: 25px;
}

.btn1:hover span:after {
  opacity: 1;
  left: 0;
}
